package ${packageName}.domain;

#foreach ($import in $importList)
    import ${import};
#end

## 导入包, 用于生成Excel文档
import com.dkd.common.annotation.Excel;

#if($table.crud || $table.sub)
    import com.dkd.common.core.domain.BaseEntity;
#elseif($table.tree)
    import com.dkd.common.core.domain.TreeEntity;
#else
    import com.dkd.common.core.domain.BaseEntity; ## 默认继承BaseEntity
#end
## lombok
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${functionName}对象 ${tableName}
 */
#if($table.crud || $table.sub)
    #set($Entity="BaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#else
    #set($Entity="BaseEntity") ## 设置默认值
#end
#if( !$util.isEmpty($ClassName) ) ## 检查 $ClassName 是否存在，若不存在则设置默认值 DefaultClass
    #set( $ClassName = $ClassName.replaceAll("[^a-zA-Z0-9_]", "") ) ## 去除非字母数字字符
#else
    #set( $ClassName = "DefaultClass" )
#end

@Data
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class ${ClassName} extends ${Entity} {

    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        #if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
            #if($column.list)
                #set($parentheseIndex=$column.columnComment.indexOf("（"))
                #if($parentheseIndex != -1)
                    #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                #else
                    #set($comment=$column.columnComment)
                #end
                #if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
                #elseif($column.javaType == 'Date')
    @JsonFormat(pattern = "yyyy-MM-dd")
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
                #else
    @Excel(name = "${comment}")
                #end
            #end
    private $column.javaType $column.javaField;
        #end
    #end

    #if($table.sub)
        ## 检查 $subClassName 是否存在，若不存在则设置默认值 DefaultSubClass
        #if( !$util.isEmpty($subClassName) )
            #set( $subClassName = $subClassName.replaceAll("[^a-zA-Z0-9_]", "") ) ## 去除非字母数字字符
        #else
            #set( $subClassName = "DefaultSubClass" )
        #end

        ## 检查 $subclassName 是否存在，若不存在则设置默认值 defaultSubList
        #if( !$util.isEmpty($subclassName) )
            #set( $subclassName = $subclassName.replaceAll("[^a-zA-Z0-9_]", "") ) ## 去除非字母数字字符
        #else
            #set( $subclassName = "defaultSubList" )
        #end

    /** $table.subTable.functionName信息 */
    private List<${subClassName}> ${subclassName};
    #end
}